.Home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.Home .title {
    margin-top: 100px;
    text-shadow: 5px 5px 5px gray;
}

.Home .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Home > h1 {
    font-family: HSSantokki;
    color: rgb(152,235,230);
    font-size: 80px;
}

.Home > div > button {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    white-space: nowrap; 
}

