.MyGroupSchedules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyGroupSchedules .info_section {
    display: flex;
    width: 550px;
    flex: 1;
    margin: 0 auto;
    justify-content: space-between;
}

.MyGroupSchedules .info_section .progress_true {
    color: red;
}
.MyGroupSchedules .info_section .progress_false {
    color: blue;
}

.MyGroupSchedules .button_section {
    display: flex;
    justify-content: flex-start; /* 버튼을 왼쪽 정렬 */
    width: 100%; /* 부모 요소의 전체 너비를 사용 */
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 100px;
}