.Notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Notice .content_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 550px;
    gap: 5px;
}

.Notice .content_section .group, .writer, .title {
    display: flex;
    flex: 1;
}

.Notice .content_section .group > h2 ,.writer > h2, .title > h2 {
    font-size: 22px;
    margin: 0 auto;

    flex:1;
    text-align: center;
}

.Notice .content_section .content > h2 {
    font-size: 22px;
    justify-content: left;

    flex: 1;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.Notice .content_section .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Notice .content_section .content textarea {
    padding: 20px;
    width: 100%;
    height: 300px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid rgb(236,236,236);

    font-family: Hakgyoansim;
    font-size: 20px;
    margin-top: 0;

    box-sizing: border-box;
    word-break: keep-all;
    overflow-wrap: break-word;

    cursor: default; /* 기본 커서(화살표)로 설정 */
    pointer-events: none; /* 클릭 이벤트 차단 */
}

.Notice .button_section {
    display: flex;
    justify-content: flex-start; /* 버튼을 왼쪽 정렬 */
    width: 100%; /* 부모 요소의 전체 너비를 사용 */
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 100px;
}