.Schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Schedule .content_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 550px;

    gap: 5px;
}

.Schedule .content_section div {
    display: flex;
    flex: 1;
}

.Schedule .content_section h2 {
    font-size: 22px;
    margin: 0 auto;
}

.Schedule .button_section {
    display: flex;
    justify-content: flex-start; /* 버튼을 왼쪽 정렬 */
    width: 100%; /* 부모 요소의 전체 너비를 사용 */
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 100px;
}